.contrast-toggle {
  text-align: center;
  margin: 2rem;
}

.contrast-toggle button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #424242;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilo global cuando se activa el alto contraste */
body.high-contrast {
  background-color: #000 !important;
  color: #fff !important;
}

body.high-contrast a,
body.high-contrast h1,
body.high-contrast h2,
body.high-contrast h3,
body.high-contrast p,
body.high-contrast li {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #fff !important;
}